/* CSS Document */
/*-------------------------------*/
#wrapHead{
	position: fixed;
	z-index: 1;
	background: rgb(245, 245, 245);
	/* background:#ffffff; */
	/* background:#5db5bd; */
	/* padding-top: 50px; */
	/* height:130px; */
	font-size: 130%;
	/* vertical-align: middle; */
	margin:auto;
	padding: 25px;
	padding-left: 100px;
	letter-spacing: 3px;
	/* padding: 40px; */
	/* font-weight: bold; */
}
/*-------------------------------*/
/*end*/

.h1Style {
	padding: 80px 0 0 0;
}
.h2Indent{
	padding: 0 0 0 20px;
}
.h2Indent ol {
	padding: 0 0 20px 0;
}
footer {
	background-color: white;
	text-align: center;
	padding: 20px;
}