/* CSS Document */
/*-------------------------------*/
* {
text-align: left;
list-style: none outside;
font-size: 100%;
}
html {
margin: 0;
padding: 0;
font: normal normal normal 100% sans-serif;
}
body {
margin: 0;
padding: 0;
/* background: #ffffff; */
background-image: url('/images/background_image_figma.png');
opacity: 0.8;
font-family: "M PLUS 1p", "���S�V�b�N", YuGothic, "���C���I", Meiryo, "�q���M�m�p�S ProN W3", "Hiragino Kaku Gothic ProN", Arial, Helvetica, sans-serif;

color: #434343;
-webkit-text-size-adjust: 100%;
/* font-size: 100%; */
font-size: 90%;
font-weight: 500;
}
/* .wf-mplus1p { 
font-family: "M PLUS 1p"; 
} */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, em, img {
margin: 0;
padding: 0;
border: none;
}
th, td {
vertical-align: top;
}
a:link, a:visited {
color: #5db5bd;
}
a:hover {
color: #5db5bd;
text-decoration: none;
}
a.newwin {
padding: 0 20px 0 0;
background: url(../images/icon_newwin.gif) no-repeat 100% 50%;
}
/**/
/*-------------------------------*/
#wrapHead {
background-color: white;
/* background-color: grey; */
clear: both;
width: 100%;
margin: 0 auto;
text-align: center;
letter-spacing: 0.7px;
}
#wrapBody {
background-color: white;
clear: both;
width: 100%;
margin: 0 auto;
/* padding-bottom: 100%; */
text-align: center;
letter-spacing: 0.7px;
}
#wrapBody:after {
content: "";
clear: both;
margin:auto;
height: 0;
display: block;
visibility: hidden;
}
.eleUnit {
position: relative;
margin: 0 auto;
width: 960px;
}
/*-------------------------------*/
#wrapContents {
float: left;
margin: 50px 0 0 0;
width: 760px;
}
#wrapContents:after {
content: "";
clear: both;
height: 0;
display: block;
visibility: hidden;
}
h1 {
/* margin: 0 0 50px 0; */
font-size: 2em;
line-height: 140%;
}
h2 {
margin: 50px 0 40px 0;
font-size: 1.5em;
line-height: 140%;
color: #202231;
}

/*-------------------------------*/
/*end*/
