/* CSS Document */
/*-------------------------------*/
div.wrapKOPIPE{
	border-radius:20px;
	/* margin:20px 0; */
	margin:130px 0;
	/* background:#eff5f6; */
	/* background:#ffffff; */
	background: rgb(245, 245, 245);
	/* border:rgb(245, 245, 245); */
	/* border:5px solid #e5eeef; */
	/* padding:20px; */
	padding:40px;
}
/*-------------------------------*/
div.wrapHINAGATA h1{
	margin:0 0 30px 0;
}
div.wrapHINAGATA h2{
	/* margin:30px 0 20px 0; */
	margin:60px 0 20px 0;
}
div.wrapHINAGATA p{
	margin:20px 0;
	/* margin:30px 0; */
	font-size:0.95em;
	line-height:1.6;
}
div.wrapHINAGATA ul{
	margin:20px 0 0 30px;
}
div.wrapHINAGATA ul li{
	list-style:outside decimal;
	font-size:0.95em;
	line-height:140%;
	margin:10px 0 0 0;
}
div.wrapHINAGATA ul li ul{
	margin:15px 0 10px 10px;
}
div.wrapHINAGATA ul li ul li{
	list-style:outside none;
	margin-left:20px;
	text-indent:-1.5em;
}
div.wrapHINAGATA ul.child{
	margin:15px 0 0 10px;
}
div.wrapHINAGATA ul.child li{
	list-style:outside none;
	margin-left:45px;
	text-indent:-1.7em;
}
div.wrapHINAGATA p.tR{
	margin:30px 0 0 0;
	font-size:0.95em;
	line-height:140%;
	text-align:right;
}
div.wrapHINAGATA ul li ul li ol li{
	list-style:outside lower-roman;
	margin-left:20px;
	text-indent:-0.2em;
}
div.wrapHINAGATA ol{
	margin:20px 0 0 40px;
}
div.wrapHINAGATA ol li{
	list-style:outside decimal;
	font-size:0.95em;
	line-height:140%;
	margin:10px 0 0 0;
}
div.wrapHINAGATA ol li ol{
margin-bottom: 20px;
}
div.wrapHINAGATA ol li ol li{
font-size: 100%;
}
/*-------------------------------*/
div.wrapKOPIPE pre{
	width:620px;
	max-height:500px;
	overflow:scroll;
	background:#ffffff;
}
div.wrapKOPIPE code{
	display:block;
	padding:10px 20px;
}
/*-------------------------------*/
ul.tab li{
	display:inline;
	font-size:0.95em;
	line-height:140%;
}
/*-------------------------------*/
/*end*/
