.structure .design-point .item-group {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
}

.structure .design-point .item-group h3 {
    position: absolute;
    background-color: white;
    padding: 5px;
    transform: translateY(-100%);
}

.structure .design-point .item-group p {
    margin: 30px; 
    font-size: 12px;
}

.structure .design-point .item-group ul  {
    /* margin: 30px; */
    font-size: 12px;
    list-style: none;
}

.structure .design-point .description-image {
    margin-left: 20px;
}

.structure .design-point .item-group ol  {
    font-size: 12px;
    margin-left: 20px;
}

.structure .design-point #separateWidgetState  {
    padding-top: 160px;
    margin-top: -160px;
}


.structure .design-point .item-group a  {
    text-decoration: none;
}

